*~
*.lxt
*.pyc
*.vvp
*.kate-swp

.*
!.gitignore

# Kernel
*.o
*.cmd
*.mod
*.mod.c
Module.symvers
modules.order
*.ko

# Vivado
*.jou
*.log
*.str

# Vivado synthesis files
*.xml
*.rpt
*.xpr
*.bit
**/fpga.cache/*
**/fpga.gen/*
**/fpga.runs/*
**/fpga.srcs/*
**/fpga.hw/*

# ILA log file
*.csv

# license file
*.lic
